<?xml version='1.0' encoding='utf-8'?>
<widget id="app.jagao.quasar.app" version="0.2.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Jagao App</name>
    <description>A Quasar Framework app</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="57" src="res/ios/57.png" width="57" />
        <icon height="114" src="res/ios/114.png" width="114" />
        <icon height="40" src="res/ios/40.png" width="40" />
        <icon height="60" src="res/ios/60.png" width="60" />
        <icon height="29" src="res/ios/29.png" width="29" />
        <icon height="58" src="res/ios/58.png" width="58" />
        <icon height="87" src="res/ios/87.png" width="87" />
        <icon height="80" src="res/ios/80.png" width="80" />
        <icon height="120" src="res/ios/120.png" width="120" />
        <icon height="180" src="res/ios/180.png" width="180" />
        <icon height="40" src="res/ios/40.png" width="40" />
        <icon height="50" src="res/ios/50.png" width="50" />
        <icon height="100" src="res/ios/100.png" width="100" />
        <icon height="72" src="res/ios/72.png" width="72" />
        <icon height="144" src="res/ios/144.png" width="144" />
        <icon height="76" src="res/ios/76.png" width="76" />
        <icon height="152" src="res/ios/152.png" width="152" />
        <icon height="167" src="res/ios/167.png" width="167" />
        <icon height="1024" src="res/ios/1024.png" width="1024" />
        <icon height="48" src="res/ios/48.png" width="48" />
        <icon height="55" src="res/ios/55.png" width="55" />
        <icon height="88" src="res/ios/88.png" width="88" />
        <icon height="172" src="res/ios/172.png" width="172" />
        <icon height="196" src="res/ios/196.png" width="196" />
    </platform>
</widget>
